.box{
  cursor: pointor; 
  width: 15em;
  height: 25em;
  position: absolute; /* je retire la carte du flux */
  top: 75%; /* cette ligne et les deux suivante servent a centrer mon element */
  left: 50%;
  transform: translate(-50%, -50%)
}
.carte{
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.9s; /* voir la partie transition pour plus d'infos */
  transform-style: preserve-3d; /* La propriété transform-style définit si les éléments-fils d'un éléments sont positionnés dans l'espace tridimensionnel ou
  s'ils sont aplatis dans le plan de l'élément. */
  box-shadow: 0 0 20px 6px black; /* j'ajoute un effet d'ombre a ma carte */
}

.box:hover .carte{
  transform: rotateY(180deg); /* au passage de la souris, la carte fera une rotation Y de 180deg */
}

.front, .back{

  position: absolute; 
  width: 100%;
  height: 100%;
     /* j'indique que la face qui n'est pas visible doit être caché afin qu'elle ressorte avec un display: none et qu'elle
  ne pose pas de problèmes */
  backface-visibility: hidden;
  
}

/* je redimensionne mon image */
.front img{ 
  height: 100%;
  width: 100%;

}

.front {
  transform: perspective(600px) rotateY(0deg); /* perspective est la c'est la distance qu'il y a entre l'élément et l'écran de l'utilisateur,
  ce qui nous permet d'avoir un effet correct lorsque la carte va tourner.
  Changez la valeur afin de bien comprendre la méchanique. */
}

.back {
  background-color: #fff;
  transform: perspective(600px) rotateY(180deg);
}


.content{
  color: black;
  text-align: center;
  width: 100%;
}

.titleFlipcard{
  color: black;
}

